---
import Layout from '../layouts/Layout.astro';
import Typography from '../components/Typography';
---

<Layout title="Welcome to Components" >
	<main >
        <Typography tag="h3">Welcome to Components</Typography>
	</main>
</Layout>
